{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "globals": {
        "$": "readonly",
        "chrome": "readonly",
        "document": "readonly",
        "MutationObserver": "readonly",
        "top": "readonly",
        "window": "readonly"
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],

        // override default options for rules from base configurations
        "comma-dangle": ["error", "always"],
    }
}